# Firebase Service Account
GOOGLE_APPLICATION_CREDENTIALS=service_account.json

# Firebase Project
FIREBASE_PROJECT_ID=doan-hotronuoiong
DB_URL=https://doan-hotronuoiong-default-rtdb.asia-southeast1.firebasedatabase.app

# Device config
DEVICE_ID=TRK-VUON001
DEVICE_NAME=Hornet Tracker Jetson

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
